{% extends "base.html" %}
{% block title %}Main{% endblock %}

{% block content %}
    <div class="container mt-4 mb-md-0">
        <select name="countries" id="countries" multiple>
            <option selected value="Item">Item</option>
            <option selected value="Category">Category</option>
            <option selected value="Checkbox">Checkbox</option>
            <option value="Username">Username</option>
            <option value="Created_date">Created_date</option>
        </select>

        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table class="table table-dark sortable" id="main_table" >
                  <thead>
                    <tr>
                      <th onclick="w3.sortHTML('#main_table', '.item', 'td:nth-child(1)')" style="cursor:pointer" scope="col">#</th>
                      <th onclick="w3.sortHTML('#main_table', '.item', 'td:nth-child(2)')" style="cursor:pointer" class="td_name hide" scope="col">Item <i class="bi bi-caret-down-fill"></i></th>
                      <th onclick="w3.sortHTML('#main_table', '.item', 'td:nth-child(3)')" style="cursor:pointer" class="td_category hide" scope="col">Category <i class="bi bi-caret-down-fill"></i></th>
                      <th class="td_checkbox hide" scope="col"><i class="bi bi-check text-white"></i></th>
                      <th onclick="w3.sortHTML('#main_table', '.item', 'td:nth-child(5)')" style="cursor:pointer" class="td_username hide" scope="col">User <i class="bi bi-caret-down-fill"></i></th>
                      <th onclick="w3.sortHTML('#main_table', '.item', 'td:nth-child(6)')" style="cursor:pointer" class="td_created_date hide" scope="col">Date <i class="bi bi-caret-down-fill"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for shopping_list_item in shopping_list %}
                        <tr class="item">
                          <td scope="row">{{loop.index}}</td>
                          <td class="td_name hide"><a href="/item_details/{{shopping_list_item.id}}">{{ shopping_list_item.item }}</a></td>
                          <td class="td_category hide">{{ shopping_list_item.category }}</td>
                          <td class="td_checkbox hide">
                              <form action="/update_item_checkbox/{{shopping_list_item.id}}" method="POST" id="item_checkbox_update{{shopping_list_item.id}}">
                                  <div class="bootstrap-switch-square">
                                      <input onchange="document.getElementById('item_checkbox_update{{shopping_list_item.id}}').submit()" type="checkbox" name="checkbox_to_update" value="checked" id="checkbox" {{ "checked" if shopping_list_item.checked == True }} />
                                  </div>
                              </form>
                          </td>
                          <td class="td_username hide">{% set user_id = shopping_list_item.user_id %}
                              {% for user_data in users %}
                                {% if user_data.id == user_id %}
                                    {{user_data.first_name}}
                                {% endif %}
                              {% endfor %}
                          </td>
                          <td class="td_created_date hide">{{ shopping_list_item.created_date }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            </div>
    </div>
        <div class="container mt-2">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_add_item">Add Item
                    </button>
                </div>
                <div class="col d-flex align-items-end justify-content-end">
                    <form action="/delete_checked" method="POST" id="delete_items">
                        <button class="btn btn-danger" type="submit" form="delete_items">Delete checked</button>
                    </form>
                </div>
              </div>
        </div>

          <!-- Modal -->
            <div class="modal fade" id="modal_add_item" tabindex="-1" aria-labelledby="addItemModal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-{{dark_mode}}">
                  <div class="modal-header">
                    <h5 class="modal-title text-{{dark_mode_text}}" id="modal_label_title">Admin new item</h5>
                    <button type="button" class="btn-close {{img_color}}    " data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                        <label class="text-{{dark_mode_text}}" for="item_modal">Item name</label>
                      <div class="col-12">
                        <input type="text" name="item_modal" id="item_modal" form="add_item">
                      </div>
                    </div>
                    <div class="row">
                        {% if categories|length > 0 %}
                            <label class="text-{{dark_mode_text}}" for="category_modal">Category</label>
                            <div class="col-12">
                                <input type="text" list="categories_modal" name="category_modal" form="add_item" id="category_modal" autocomplete="off" />
                                    <datalist id="categories_modal">
                                      {% for category in categories %}
                                          <option value="{{category[0]}}">{{category[0]}}</option>
                                      {% endfor %}
                                    </datalist>
                            </div>
                        {% else %}
                            <label class="text-{{dark_mode_text}}" for="category_modal_empty">Category</label>
                            <div class="col-12">
                                <input type="text" name="category_modal" form="add_item" id="category_modal_empty" autocomplete="off" />
                            </div>
                        {% endif %}
                    </div>

                  </div>
                  <div class="modal-footer">
                    <form action="/add_item" method="POST" id="add_item">
                        <button type="submit" class="btn btn-primary">Add Item</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}