{% extends "base.html" %}
{% block title %}User info{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../">Home</a>
          <a class="navbar-brand" href="/user_info_all">User info</a>
        </div>
      </div>
    </nav>
    <hr>
    <div class="container">
        {% for user_info in user_info_all %}
        <div class="row">
            <h4>
                <a href="/user_info/{{ user_info.id }}"><strong>Name:</strong> {{ user_info.name }}</a>
            </h4>
        </div>
        {% endfor %}

     <hr>

     </div>
{% endblock %}
